# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#compiled pyc
*.pyc 

*debug
*build
*.log
*.log.*
**/.gradle/
**/.idea/
.DS_Store
**/target/
**/__pycache__/
**/deploy/local_data/
